.buttonsContainer {
    padding: 5px;
}

.responseContainer {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 100px
}

.imageContainer {
    margin: 5px;
}

.image {
    margin: 5px;
}

.textContainer{
    margin: 5px;
}

.code {
padding: 3px;
font-size: 30px;
}

.text {
    padding: 3px;
}
.info {
    padding: 3px;
}