.sendForm {
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.textarea {
	background-color: #e2e6ed;
	border-radius: 15px;
	height: 50px;
	width: 800px;
	padding: 10px;
	resize: none;
	border: 1px solid #ccc;
	font-size: 16px;
}

.button {
	background-color: #226ddd;
	width: 70px;
	height: 40px;
	border-radius: 10px;
	font-size: 20px;
}

.button:hover {
	background-color: #1e60c4;
}
.button:active {
	background-color: #ffffff;
}
